<%= link_to 'Cadastrar empresa', new_company_path %>

<% @companies.each do |company| %>
  <h3> <%= link_to company.name, company_path(company.id) %> </h3>

  <p> <%= company.description %> </p>
  <p> <%= company.address %> </p>
  <p> <%= company.cnpj %> </p>
  <p> <%= company.site %> </p>
  <p> <%= company.linkedin %> </p>
<% end %>
