<h1><%= @company.name %></h1>
  
  <% if @company.logo.attached? %>
    <%= image_tag @company.logo %> 
  <% end %>
    
  <p> Descrição </p>
  <p> <%= @company.description %> </p>
  <p> Endereço </p>
  <p> <%= @company.address %> </p>
  <p> CNPJ </p>
  <p> <%= @company.cnpj %> </p>
  <p> site </p>
  <p> <%= @company.site %> </p>
  <p> linkedin </p>
  <p> <%= @company.linkedin %> </p>

  <p> <%= link_to 'Cadastrar vaga', new_company_job_path(@company.id) %> </p>
  <p>Vagas Disponíveis</p>

<div>
  <% @company.jobs.each do |job| %>

    <h3> <%= link_to job.title, company_job_path(@company.id, job.id) %> </h3>
    <p> <%= job.experience_level %> </p>
    <p> <%= number_to_currency(job.compensation, delimiter: ".") %> </p>
  <% end %>
</div>

<%= link_to 'Voltar', companies_path %> 