<!DOCTYPE html>
<html>
  <head>
    <title>BalcaoEmpregos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <nav>
      <% if recruiter_signed_in? %>
        <%= current_recruiter.email %>
        <p> Empresa:  <%= current_recruiter.company_name %></p>
        <%= link_to 'Sair', destroy_recruiter_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_recruiter_session_path %>
      <% end %>
    </nav>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
